<footer class="text-center text-lg-start bg-success text-muted" th:fragment="footer">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom text-white">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Connettiti con noi sui social media:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div class="">

            <a href="#!" class="me-4 text-reset zoom-hover">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#!" class="me-4 text-reset zoom-hover">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#!" class="me-4 text-reset  zoom-hover">
                <i class="fab fa-google"></i>
            </a>
            <a href="#!" class="me-4 text-reset zoom-hover">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#!" class="me-4 text-reset zoom-hover">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="text-white">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>GreenShare
                    </h6>
                    <p>
                        Negli ultimi anni il fenomeno del cambiamento climatico ha imposto un cambio di rotta, favorendo
                        l'avvento della mobilità elettrica.
                        In questo senso, Greenshare, azienda di Vehicle Sharing presente a Torino, punta verso la
                        sostenibilità ambientale attraverso l'offerta di auto
                        monopattini e biciclette elettriche a basso consumo di CO<sub>2</sub> e a prezzi economici.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->

                    <h6 class="text-uppercase fw-bold mb-4">
                        Prodotti
                    </h6>
                    <p>
                        <a href="map" class="text-reset">Auto elettriche</a>
                    </p>
                    <p>
                        <a href="map" class="text-reset">Monopattini</a>
                    </p>
                    <p>
                        <a href="map" class="text-reset">Biciclette</a>
                    </p>

                </div>


                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contatti
                    </h6>
                    <p><i class="fas fa-home me-3"></i> Sede principale: Torino, TO 10141, IT</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i> GreenShareSrl@azienda.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 011 234 5678</p>
                    <p><i class="fas fa-print me-3"></i> + 011 344 5679</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center text-white p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright
        <a class="text-reset fw-bold" href="/">GreenShare.com</a>
    </div>
    <!-- Copyright -->
</footer>