<div th:fragment="navbar">
    <header id="mainHeader">
        <nav class="navbar fixed-top shadow-3-strong navbar-expand-lg navbar-light bg-light">
            <!-- Container wrapper -->
            <div class="container d-flex justify-content-between align-items-center position-relative">
                <!-- Navbar brand -->
                <div>
                    <a class="navbar-brand" href="/">
                        <img src="/immagini/logo3.png" class="me-2" height="32" alt="Greenshare Logo" loading="lazy"
                            style="margin-top: -1px" />
                        <span class="text-success">Green</span>Share
                    </a>
                </div>

                <div>
                    <!-- Collapsible wrapper -->
                    <div class="collapse navbar-collapse">
                        <!-- Left links -->
                        <ul class="navbar-nav mb-2 mb-lg-0">
                        </ul>
                        <!-- Left links -->
                        <div class="d-flex align-items-center">
                            <th:block th:if="${loggedUser != null}">
                                <a href="map" class="btn btn-link text-success">Mappa</a>
                                <th:block th:if="${loggedUser?.role == 'ROLE_ADMIN'}">
                                    <a href="dashboard" class="btn btn-link text-success">Dashboard</a>
                                </th:block>
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle hidden-arrow" href="#" role="button"
                                            data-mdb-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-user text-light bg-success rounded-circle p-2"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end"
                                            aria-labelledby="navbarDropdownMenuLink">
                                            <li>
                                                <a class="dropdown-item" href="rents">Le mie prenotazioni</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="/logout">Logout</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </th:block>
                            <th:block th:unless="${loggedUser != null}">
                                <div>
                                    <a class="btn btn-link text-success" href="/login">
                                        Login
                                    </a>
                                </div>
                                <div>
                                    <a class="btn btn-success" href="/register">
                                        Registrati
                                    </a>
                                </div>
                            </th:block>
                        </div>
                        <!-- Collapsible wrapper -->
                    </div>
                    <!-- Container wrapper -->
                    <!-- Toggle button -->
                    <button class="navbar-toggler" type="button" data-mdb-toggle="offcanvas"
                        data-mdb-target="#offcanvasRight" aria-controls="offcanvasRight" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
            </div>
        </nav>
        <!-- Fine Navbar -->
    </header>

    <!-- Offcanvas -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header bg-success">
            <h5 id="offcanvasRightLabel" class="text-light">Menù</h5>
            <button type="button" class="btn-close text-reset" data-mdb-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-unstyled">
                <th:block th:unless="${loggedUser != null}">
                    <li>
                        <a href="/login" class="btn btn-link text-success d-block">Login</a>
                    </li>
                    <li>
                        <a href="/register" class="btn btn-link text-success d-block">Registrati</a>
                    </li>
                </th:block>

                <th:block th:if="${loggedUser != null}">
                    <li>
                        <a href="map" class="btn btn-link text-success d-block">Mappa</a>
                    </li>
                    <th:block th:if="${loggedUser.role == 'ROLE_ADMIN'}">
                        <li>
                            <a href="dashboard" class="btn btn-link text-success d-block">Dashboard</a>
                        </li>
                    </th:block>
                    <li>
                        <a href="#" class="btn btn-link text-success d-block">I miei ordini</a>
                    </li>
                    <li>
                        <a href="/logout" class="btn btn-link text-success d-block">Logout</a>
                    </li>
                </th:block>
            </ul>
        </div>
        <div class="py-2 d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-success ms-4">
                Prenota Ora
            </button>
            <div>
                <!-- Right -->
                <a href="https://www.facebook.com/carsharingasti" class="me-4 text-reset zoom2">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/carsharingpa" class="me-4 text-reset zoom2">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/carsharingasti/" class="me-4 text-reset zoom2">
                    <i class="fab fa-instagram"></i>
                </a>
                <!-- Right -->
            </div>
        </div>
    </div>
    <!-- Fine Offcanvas -->
</div>