<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link th:replace="fragments/links">


</head>
<body>
    <div th:replace="fragments/navbar"></div>


    <div class="bg-light vh-100">
   
            <div class="d-flex justify-content-center align-items-center">

                <h1>404</h1>

            </div>
            

        </div>


        

        








   







    <footer th:replace="fragments/footer"></footer>

    <div th:replace="fragments/scripts"></div>
</body>
</html>