body {
    font-family: "Roboto", sans-serif;
}

.body-background {
  background-image: url(/immagini/banner.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.zoom-hover {
    display: inline-block;
    transition: 0.5s ease;
}

.zoom-hover:hover {
    transform: scale(1.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
