
.offcanvas-header {
    background-color: #00913b;
    box-shadow: 0 10px 6px -6px gray;
}

.offcanvas {
    max-width: 20rem;
}

nav {
    height: 4rem;
}

/* Shape Divider */
.custom-shape-divider-top-1640724106 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1640724106 svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 184px;
}

.custom-shape-divider-top-1640724106 .shape-fill {
    fill: #FFFFFF;
}
/* Shape Divider */
