<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Greenshare - Dashboard</title>

	<link th:replace="fragments/links">

	<link rel="stylesheet" href="css/dashboard.css" />
</head>

<body class="body-background">
	<div class="d-flex flex-column justify-content-between min-vh-100">
		<div>
			<div th:replace="fragments/navbar"></div>

			<main>
				<div class="container py-3 py-lg-5">
					<div class="d-flex justify-content-end">
						<button type="button" id="btnAddVehicle" class="btn btn-success mb-3">
							<i class="fas fa-plus"></i> Aggiungi
						</button>
					</div>
					<div class="accordion accordion-flush bg-white rounded shadow-5-strong p-4 mb-3"
						id="accordionFlush">
						<div class="accordion-item" th:each="vehicle,iterStat : ${vehiclePage.content}"
							th:classappend="${iterStat.last} ? 'border-bottom-0'">
							<form action="#" th:action="@{update/vehicle}" th:object="${vehicle}" method="post">
								<h2 class="accordion-header" th:id="'flush-heading-' + ${vehicle.id}">
									<button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
										th:data-mdb-target="'#flush-collapse-' + ${vehicle.id}" aria-expanded="false"
										th:aria-controls="'flush-collapse-' + ${vehicle.id}"
										th:text="'#' + ${vehicle.id} + ' - ' + ${vehicle.description}"></button>
								</h2>
								<div th:id="'flush-collapse-' + ${vehicle.id}" class="accordion-collapse collapse"
									th:aria-labelledby="'flush-heading-' + ${vehicle.id}"
									data-mdb-parent="#accordionFlush">
									<div class="accordion-body">
										<input type="hidden" name="id" id="id" th:value="${vehicle.id}">
										<div class="d-flex justify-content-evenly flex-wrap">
											<div class="position-relative mb-4">
												<img th:src="${vehicle.imageUrl}"
													class="position-absolute start-50 translate-middle-x" alt=""
													width="64px"
													th:style="${vehicle.type == 'Monopattino'} ? 'margin-top: -12px'">
												<input type="text" class="invisible">
											</div>
											<div class="mb-4">
												<input class="text-center" type="text" name="description"
													th:id="'description-' + ${vehicle.id}" placeholder="Descrizione"
													th:value="${vehicle.description}" />
											</div>
											<div class="position-relative mb-4">
												<input class="text-center" type="number" name="maxAutonomy"
													th:id="'maxAutonomy-' + ${vehicle.id}"
													placeholder="Autonomia massima" th:value="${vehicle.maxAutonomy}" />
												<span class="position-absolute end-0 me-2 user-select-none">km</span>
											</div>
										</div>
										<div class="d-flex justify-content-evenly flex-wrap">
											<div class="mb-4">
												<input type="text" class="text-center" name="creationDate"
													th:id="'creationDate-' + ${vehicle.id}"
													th:value="${#dates.format(vehicle.creationDate, 'yyyy-MM-dd HH:mm:ss')}"
													readonly>
											</div>
											<div class="position-relative mb-4">
												<input class="text-center" type="number" name="pricePerMinute"
													th:id="'pricePerMinute-' + ${vehicle.id}" step="0.01"
													placeholder="Prezzo al minuto"
													th:value="${vehicle.pricePerMinute}" />
												<span class="position-absolute end-0 me-2 user-select-none">€</span>
											</div>
											<div class="position-relative mb-4">
												<input class="text-center" type="number" name="battery"
													th:id="'battery-' + ${vehicle.id}" placeholder="Livello batteria"
													th:value="${vehicle.battery}" />
												<span class="position-absolute end-0 me-2 user-select-none">%</span>
											</div>
										</div>
										<div class="d-flex justify-content-evenly flex-wrap">
											<div class="mb-4">
												<input class="text-center" type="text" name="type"
													th:id="'type-' + ${vehicle.id}" placeholder="Tipo"
													th:value="${vehicle.type}" />
											</div>
											<div class="position-relative mb-4">
												<input class="text-center" type="text" name="coordinates"
													th:id="'coordinates-' + ${vehicle.id}" placeholder="Coordinate"
													th:value="${vehicle.coordinates}" />
												<img class="spinner" src="immagini/spinner.gif" alt="">
											</div>
											<div class="position-relative mb-4">
												<input class="text-center" type="text" name="currentLocation"
													th:id="'currentLocation-' + ${vehicle.id}"
													placeholder="Posizione attuale"
													th:value="${vehicle.currentLocation}" />
												<i th:id="'searchCoordinates-' + ${vehicle.id}"
													class="searchCoordinates fas fa-search-location position-absolute end-0 me-2 pointer-cursor user-select-none"></i>
											</div>
										</div>
										<div class="d-flex justify-content-center flex-wrap">
											<button type="button" class="btnDeleteVehicle btn btn-danger me-2"
												data-mdb-toggle="modal" data-mdb-target="#deleteVehicleModal"
												th:data-vehicle-id="${vehicle.id}">
												Elimina
											</button>
											<button type="submit" class="btn btn-success">
												Salva
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="accordion-item" id="new-accordion-item">
							<h2 class="accordion-header" id="flush-heading-new">
								<button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
									data-mdb-target="#flush-collapse-new" aria-expanded="false"
									aria-controls="flush-collapse-new">
									Nuovo elemento
								</button>
							</h2>
							<div id="flush-collapse-new" class="accordion-collapse collapse"
								aria-labelledby="flush-heading-new" data-mdb-parent="#accordionFlush">
								<div class="accordion-body">
									<div class="d-flex justify-content-evenly flex-wrap">
										<div class="position-relative mb-4">
											<div class="pointer-cursor">
												<img src="/immagini/defaultCar.png"
													class="position-absolute start-50 translate-middle-x defaultImage"
													alt="" width="48px">
											</div>
											<input type="text" class="invisible">
											<input type="file" class="d-none" name="newImageUrl" id="newImageUrl"
												accept="image/png, image/jpeg, image/jpg" />
										</div>
										<div class="mb-4">
											<input class="text-center" type="text" name="newDescription"
												id="newDescription" placeholder="Descrizione" />
										</div>
										<div class="position-relative mb-4">
											<input class="text-center" type="number" name="newMaxAutonomy"
												id="newMaxAutonomy" placeholder="Autonomia massima" />
											<span class="position-absolute end-0 me-2 user-select-none">km</span>
										</div>
									</div>
									<div class="d-flex justify-content-evenly flex-wrap">
										<div class="mb-4">
											<input type="text" class="text-center" name="newCreationDate"
												id="newCreationDate" value="yyyy-MM-dd" disabled>
										</div>
										<div class="position-relative mb-4">
											<input class="text-center" type="number" name="newPricePerMinute"
												id="newPricePerMinute" step="0.01" placeholder="Prezzo al minuto" />
											<span class="position-absolute end-0 me-2 user-select-none">€</span>
										</div>
										<div class="position-relative mb-4">
											<input class="text-center" type="number" name="newBattery" id="newBattery"
												placeholder="Livello batteria" />
											<span class="position-absolute end-0 me-2 user-select-none">%</span>
										</div>
									</div>
									<div class="d-flex justify-content-evenly flex-wrap">
										<div class="mb-4">
											<input class="text-center" type="text" name="newType" id="newType"
												placeholder="Tipo" />
										</div>
										<div class="position-relative mb-4">
											<input class="text-center" type="text" name="newCoordinates"
												id="newCoordinates" placeholder="Coordinate" />
											<img class="spinner" src="immagini/spinner.gif" alt="">
										</div>
										<div class="position-relative mb-4">
											<input class="text-center" type="text" name="newCurrentLocation"
												id="newCurrentLocation" placeholder="Posizione attuale" />
											<i id="newSearchCoordinates"
												class="searchCoordinates fas fa-search-location position-absolute end-0 me-2 pointer-cursor user-select-none"></i>
										</div>
									</div>
									<div class="d-flex justify-content-center">
										<button type="button" class="btn btn-success" id="btnConfermAddVehicle">
											Aggiungi
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<nav aria-label="pagination" th:if="${vehiclePage.totalPages > 1}">
						<ul class="pagination d-flex justify-content-center">
							<div class="d-flex justify-content-center bg-light p-3 rounded">
								<li class="page-item" th:unless="${vehiclePage.number + 1 == 1}">
									<a th:href="@{/dashboard(size=${vehiclePage.size}, page=${vehiclePage.number})}"
										class="page-link">
										<i class="fas fa-angle-left"></i>
									</a>
								</li>
								<th:block th:if="${vehiclePage.totalPages > 1}" th:each="pageNumber : ${pageNumbers}">
									<li class="page-item"
										th:classappend="${pageNumber==vehiclePage.number + 1} ? active">
										<a th:href="@{/dashboard(size=${vehiclePage.size}, page=${pageNumber})}"
											th:text=${pageNumber} class="page-link"></a>
									</li>
								</th:block>
								<li class="page-item" th:unless="${vehiclePage.number + 1 == vehiclePage.totalPages}">
									<a th:href="@{/dashboard(size=${vehiclePage.size}, page=${vehiclePage.number + 2})}"
										class="page-link">
										<i class="fas fa-angle-right"></i>
									</a>
								</li>
							</div>
						</ul>
					</nav>
				</div>
			</main>
		</div>
	</div>

	<!-- Conferm Delete Vehicle Modal -->
	<div class="modal fade" id="deleteVehicleModal" tabindex="-1" aria-labelledby="deleteVehicleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteVehicleModalLabel">Sei sicuro di voler eliminare il veicolo?
					</h5>
					<button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body text-center">
					<button type="button" class="btn btn-light" data-mdb-dismiss="modal">
						Annulla
					</button>
					<button type="button" id="btnConfermDeleteVehicle" class="btn btn-danger" data-mdb-dismiss="modal">
						Conferma
					</button>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="fragments/footer"></footer>

	<!-- Imported scripts -->
	<div th:replace="fragments/scripts"></div>

	<!-- Custom scripts -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		var loggedUser = /*[[${loggedUser}]]*/'';
		/*]]>*/

		$(document).bind('ajaxStart', function () {
			$(".spinner").show();
		}).bind('ajaxStop', function () {
			$(".spinner").hide();
		});

		$().ready(function () {
			var vehicleId;
			$(".btnDeleteVehicle").on("click", function () {
				vehicleId = $(this).data("vehicle-id");
				$("#btnConfermDeleteVehicle").on("click", function () {
					$.ajax({
						type: "DELETE",
						url: "api/vehicles/delete/" + vehicleId,
						success: function () {
							document.location.href = "dashboard";
						}
					});
				});
			});

			$("#btnAddVehicle").on("click", function () {
				$("#new-accordion-item").slideToggle(400, function () {
					var y = $('#new-accordion-item').offset().top - window.innerHeight / 2.5;
					window.scrollTo({ top: y });

					$("[data-mdb-target='#flush-collapse-new']").click();
					$("#new-accordion-item").toggleClass("display-none");
					if ($(".accordion-item:nth-last-child(2)").length) {
						$(".accordion-item:nth-last-child(2)").toggleClass("border-bottom-0");
					}

					$("#btnConfermAddVehicle").on("click", function () {
						// var vehicleInput = {
						// 	id: null,
						// 	type: $("#newType").val(),
						// 	description: $("#newDescription").val(),
						// 	coordinates: $("#newCoordinates").val(),
						// 	currentLocation: $("#newCurrentLocation").val(),
						// 	imageUrl: null,
						// 	battery: $("#newBattery").val(),
						// 	maxAutonomy: $("#newMaxAutonomy").val(),
						// 	pricePerMinute: $("#newPricePerMinute").val(),
						// 	creationDate: dayjs().format(),
						// 	createdBy: null
						// };
						// $.ajax({
						// 	type: "POST",
						// 	url: "api/vehicles/add",
						// 	contentType: "application/json",
						// 	data: JSON.stringify(vehicleInput),
						// 	success: function () {
						// 		document.location.href = "dashboard"
						// 	}
						// });

						var vehicleInput = {
							type: $("#newType").val(),
							description: $("#newDescription").val(),
							coordinates: $("#newCoordinates").val(),
							currentLocation: $("#newCurrentLocation").val(),
							battery: $("#newBattery").val(),
							maxAutonomy: $("#newMaxAutonomy").val(),
							pricePerMinute: $("#newPricePerMinute").val(),
							creationDate: dayjs().format("YYYY-MM-DD HH:mm:ss"),
							createdBy: null
						};

						var formData = new FormData();
						const image = document.getElementById("newImageUrl").files[0];

						for (var key in vehicleInput) {
							formData.append(key, vehicleInput[key]);
						}
						
						formData.append("image", image);
							
						for (var key of formData.entries()) {
							console.log(key[0] + ': ' + key[1]);
						}

						fetch("api/vehicles/add", {
							method: 'POST',
							body: formData
						})
							.then(response => {
								console.log(response.status);
							})
							.catch(er => console.log(er));
					});
				});
			});

			$(".searchCoordinates").on("click", function () {
				var vehicleId = this.id.split("-")[1];
				var currentLocation = $("#currentLocation-" + vehicleId).val();
				if (currentLocation != "") {
					var coordinates = searchCoordinates(currentLocation);
					$("#coordinates-" + vehicleId).val(coordinates);
				}
			});

			$("#newSearchCoordinates").on("click", function () {
				var currentLocation = $("#newCurrentLocation").val();
				if (currentLocation != "") {
					var coordinates = searchCoordinates(currentLocation);
					$("#newCoordinates").val(coordinates);
				}
			});

			$(".defaultImage").on("click", function () {
				$("#newImageUrl").click();
			});
		});
	</script>
</body>

</html>