<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Greenshare - Home</title>

	<link th:replace="fragments/links">

	<link rel="stylesheet" href="css/homepage.css" />
</head>

<body class="body-background">
	<div th:replace="fragments/navbar"></div>

	<!-- Shape Divider -->
	<div class="custom-shape-divider-top-1641057743">
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
			<path
				d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
				opacity=".25" class="shape-fill"></path>
			<path
				d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
				opacity=".5" class="shape-fill"></path>
			<path
				d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
				class="shape-fill"></path>
		</svg>
	</div>
	<!-- Fine Shape Divider -->

	<!-- Hero -->
	<section class="hero d-flex justify-content-evenly align-items-center pt-5">
		<div class="hero-text text-end w-100 px-3" style="transform: translateY(-25%)">
			<p class="motto"><span class="blur-background px-2">CONSUME</span></p>
			<p class="motto"><span class="blur-background px-2">LESS</span></p>
		</div>
		<div class="hero-text text-start w-100 px-3" style="transform: translateY(25%)">
			<p class="motto"><span class="blur-background px-2">SHARE</span></p>
			<p class="motto" style="margin-left: calc((1.125rem + 4.5vw)/2);"><span class="blur-background px-2">MORE</span></p>
		</div>
	</section>
	<!-- Fine Hero -->

	<!-- Card -->
	<section class="row align-items-center text-center bg-light m-0" id="statsSection">
		<h1 class="mt-5 py-3">I vantaggi dell'elettrico</h1>
		<p class="h4 fw-normal mb-4">Scopri tu stesso i benefici della mobilità green. Seleziona i veicoli per effettuare un
			confronto.</p>
		<div class="col-lg-6 p-md-5">
			<div class="">
				<div class="d-flex">
					<div class="container position-relative d-flex flex-column justify-content-around align-items-center ps-0"
						style="font-size: 2.5rem;">
						<i class="fas fa-bolt text-success"></i>
						<span class="fw-bold" style="font-size: 1rem">Vs</span>
						<i class="fas fa-gas-pump" style="color: rgb(195, 57, 37);"></i>
					</div>
					<div class="container position-relative d-flex flex-column justify-content-between align-items-center
						border rounded-5 hover-shadow pointer-cursor me-2 chartDiv activeChart" id="fiatVs">
						<div class="bg-image p-xxl-4 chartImage pointer-cursor position-relative rounded-5"
							id="fiatCard">
							<img src="immagini/fiat_500e.png" class="w-100" alt="" />
							<div class="hover-overlay">
								<div class="mask">
									<div class="d-flex justify-content-center align-items-end h-100">
										<p class="text-white fw-bold rounded-5 mb-0 px-1 user-select-none"
											style="background-color: rgba(0, 0, 0, 0.9)">Fiat 500-e</p>
									</div>
								</div>
							</div>
						</div>
						<div class="fw-bold">
							Vs
						</div>
						<div class="bg-image p-xxl-4 chartImage position-relative renaultCard" id="renaultCard1">
							<img src="immagini/renault_clio.png" class="w-100" alt="" />
							<div class="hover-overlay">
								<div class="mask">
									<div class="d-flex justify-content-center align-items-end h-100">
										<p class="text-white fw-bold rounded-5 mb-1 px-1 user-select-none"
											style="background-color: rgba(0, 0, 0, 0.9)">Renault Clio</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container position-relative d-flex flex-column justify-content-center align-items-center
						border rounded-5 hover-shadow pointer-cursor me-2 chartDiv" id="bmwVs">
						<div class="bg-image p-xxl-4 chartImage pointer-cursor position-relative rounded-5"
							id="bmwCard">
							<img src="immagini/bmw_i3.png" class="w-100" alt="" />
							<div class="hover-overlay">
								<div class="mask">
									<div class="d-flex justify-content-center align-items-end h-100">
										<p class="text-white fw-bold rounded-5 mb-0 px-1 user-select-none"
											style="background-color: rgba(0, 0, 0, 0.9)">BMW i3</p>
									</div>
								</div>
							</div>
						</div>
						<div class="fw-bold">
							Vs
						</div>
						<div class="d-flex justify-content-evenly">
							<div class="bg-image p-xxl-4 chartImage position-relative renaultCard"
								data-mdb-ripple-color="light" id="renaultCard2">
								<img src="immagini/renault_clio.png" class="w-100" alt="" />
								<div class="hover-overlay">
									<div class="mask">
										<div class="d-flex justify-content-center align-items-end h-100">
											<p class="text-white fw-bold rounded-5 mb-1 px-1 user-select-none"
												style="background-color: rgba(0, 0, 0, 0.9)">Renault Clio</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container position-relative d-flex flex-column justify-content-center align-items-center
						border rounded-5 hover-shadow pointer-cursor me-2 chartDiv" id="teslaVs">
						<div class="bg-image p-xxl-4 chartImage pointer-cursor position-relative rounded-5"
							id="teslaCard">
							<img src="immagini/tesla_model_s.png" class="w-100" alt="" />
							<div class="hover-overlay">
								<div class="mask">
									<div class="d-flex justify-content-center align-items-end h-100">
										<p class="text-white fw-bold rounded-5 mb-0 px-1 user-select-none"
											style="background-color: rgba(0, 0, 0, 0.9)">Tesla Model S</p>
									</div>
								</div>
							</div>
						</div>
						<div class="fw-bold">
							Vs
						</div>
						<div class="bg-image p-xxl-4 chartImage position-relative renaultCard" id="renaultCard1">
							<img src="immagini/renault_clio.png" class="w-100" alt="" />
							<div class="hover-overlay">
								<div class="mask">
									<div class="d-flex justify-content-center align-items-end h-100">
										<p class="text-white fw-bold rounded-5 mb-1 px-1 user-select-none"
											style="background-color: rgba(0, 0, 0, 0.9)">Renault Clio</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-6 p-5">
			<div class="chartDiv">
				<canvas id="myChart"></canvas>
			</div>
		</div>
	</section>
	<!-- Fine Card -->

	<!-- Tabella -->
	<div class="text-center mt-4 mb-5 pb-5">
		<p class="text-light my-5" id="cardsHeader">Listino veicoli</p>

		<div class="d-flex justify-content-evenly flex-wrap">
			<article class="leaderboard bg-light mb-4">
				<main class="leaderboard__profiles">
					<p class="fw-bold h4">Biciclette</p>
					<div class="d-flex justify-content-center">
						<div class="px-2">
							<span class="dot"></span>
							<span id="availableBikes"></span>
						</div>
						<div class="px-2">
							<span class="dot bg-danger"></span>
							<span id="unavailableBikes"></span>
						</div>
					</div>
					<div id="bikeList">
					</div>
				</main>
			</article>
			<article class="leaderboard bg-light mb-4">
				<main class="leaderboard__profiles">
					<p class="fw-bold h4">Automobili</p>
					<div class="d-flex justify-content-center">
						<div class="px-2">
							<span class="dot"></span>
							<span id="availableCars"></span>
						</div>
						<div class="px-2">
							<span class="dot bg-danger"></span>
							<span id="unavailableCars"></span>
						</div>
					</div>
					<div id="carList">
					</div>
				</main>
			</article>
			<article class="leaderboard bg-light mb-4">
				<main class="leaderboard__profiles">
					<span class="fw-bold h4">Monopattini</span>
					<div class="d-flex justify-content-center">
						<div class="px-2">
							<span class="dot"></span>
							<span id="availableScooters"></span>
						</div>
						<div class="px-2">
							<span class="dot bg-danger"></span>
							<span id="unavailableScooters"></span>
						</div>
					</div>
					<div id="scooterList">
					</div>
				</main>
			</article>
		</div>
		<a class="btn btn-lg btn-light mt-5" href="/map">Mostra altro</a>
	</div>
	<!-- Fine Tabella -->

	<!-- Descrizione Uso -->
	<div class="bg-light container-fluid py-5" id="contDesc">
		<div class="text-center my-4">
			<h1><b>CAR SHARING MADE EASY</b></h1>
		</div>
		<div class="d-flex justify-content-evenly flex-wrap text-center mb-3">
			<div class="text-success mx-5">
				<i class="far fa-user fa-8x mb-2 py-4"></i>
				<div class="text-light">
					<p class="h5">Crea subito<br>il tuo account</p>
				</div>
			</div>
			<div class="text-success mx-5">
				<i class="fas fa-search-location fa-8x mb-2 py-4"></i>
				<div class="text-light">
					<p class="h5">Scegli il mezzo<br>più vicino a te</p>
				</div>
			</div>
			<div class="text-success mx-5">
				<i class="far fa-check-circle fa-8x mb-2 py-4"></i>
				<div class="text-light">
					<p class="h5">Prenota<br>e parti subito!</p>
				</div>
			</div>
		</div>

		<div class="row text-center my-4">
			<div class="ctn my-3">
				<a class="btn btn-lg btn-success" href="register" th:if="${loggedUser == null}">Crea un account</a>
				<a class="btn btn-lg btn-success" href="map" th:if="${loggedUser != null}">Scegli un mezzo</a>
			</div>
		</div>
	</div>
	<!-- Fine Descrizione Uso -->

	<footer th:replace="fragments/footer"></footer>

	<!-- Imported scripts -->
	<div th:replace="fragments/scripts"></div>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"
		integrity="sha256-D2tkh/3EROq+XuDEmgxOLW1oNxf0rLNlOwsPIUX+co4=" crossorigin="anonymous"></script>

	<script th:inline="javascript">
		'use strict'

		$(".navbar").removeClass("shadow-3-strong");
		$(".navbar").addClass("shadow-0");

		document.addEventListener("scroll", function () {
			if (window.pageYOffset == 0) {
				$(".navbar").addClass("shadow-0");
				$(".navbar").removeClass("shadow-3-strong");
			} else {
				$(".navbar").addClass("shadow-3-strong");
				$(".navbar").removeClass("shadow-0");
			}
		});

		const teslaData = {
			labels: [
				'Emissioni CO2 al km',
				'Costo rifornimento per 100km',
				'Potenza in kW',
			],
			datasets: [{
				label: 'Renault Clio',
				data: [534, 312, 100],
				backgroundColor: [
					'rgb(195, 57, 37)',
					'rgb(195, 57, 37)',
					'rgb(195, 57, 37)'
				]
			}, {
				label: 'Tesla Model S',
				data: [100, 100, 600],
				backgroundColor: [
					'rgb(0, 183, 74)',
					'rgb(0, 183, 74)',
					'rgb(0, 183, 74)'
				]
			}

			]
		};
		const teslaConfig = {
			type: 'bar',
			data: teslaData,
			options: { borderWidth: '1' }
		};

		teslaVs.onclick = function () {
			if (myChart) {
				myChart.destroy();
			}
			myChart = new Chart(
				document.getElementById('myChart'),
				teslaConfig
			);

			$(".activeChart").removeClass("activeChart");
			$(this).addClass("activeChart");
		}

		const bmwData = {
			labels: [
				'Emissioni CO2 al km',
				'Costo rifornimento per 100km',
				'Potenza in kW'
			],
			datasets: [{
				label: 'Renault Clio',
				data: [207, 850, 100],
				backgroundColor: [
					'rgb(195, 57, 37)',
					'rgb(195, 57, 37)',
					'rgb(195, 57, 37)'
				]
			}, {
				label: 'BMW i3',
				data: [100, 100, 162],
				backgroundColor: [
					'rgb(0, 183, 74)',
					'rgb(0, 183, 74)',
					'rgb(0, 183, 74)'
				]
			}]
		};
		const bmwConfig = {
			type: 'bar',
			data: bmwData,
			options: { borderWidth: '1' }
		};

		bmwVs.onclick = function () {
			if (myChart) {
				myChart.destroy();
			}
			myChart = new Chart(
				document.getElementById('myChart'),
				bmwConfig
			);

			$(".activeChart").removeClass("activeChart");
			$(this).addClass("activeChart");
		}

		const fiatData = {
			labels: [
				'Emissioni CO2 al km',
				'Costo rifornimento per 100km',
				'Potenza in kW'
			],
			datasets: [{
				label: 'Renault Clio',
				data: [1000, 947, 100],
				backgroundColor: [
					'rgb(195, 57, 37)',
					'rgb(195, 57, 37)',
					'rgb(195, 57, 37)'
				]
			}, {
				label: 'FIAT 500-e',
				data: [100, 100, 117],
				backgroundColor: [
					'rgb(0, 183, 74)',
					'rgb(0, 183, 74)',
					'rgb(0, 183, 74)'
				]
			}]
		};
		const fiatConfig = {
			type: 'bar',
			data: fiatData,
			options: { borderWidth: '1' }
		};

		fiatVs.onclick = function () {
			if (myChart) {
				myChart.destroy();
			}
			myChart = new Chart(
				document.getElementById('myChart'),
				fiatConfig
			);

			$(".activeChart").removeClass("activeChart");
			$(this).addClass("activeChart");
		}

		// Carica valore di default
		var myChart = new Chart(
			document.getElementById('myChart'),
			fiatConfig
		);


		// SEZIONE CARICAMENTO CARDS DISPONIBILITÀ

		/*<![CDATA[*/
		var vehicles = /*[[${vehicles}]]*/'';
		var rents = /*[[${rents}]]*/'';
		var loggedUser = /*[[${loggedUser}]]*/'';
		/*]]>*/

		var carsNumber = vehicles.filter(vehicle => vehicle.type.toLowerCase() == "automobile").length;
		var availableVehicles = getAvailableVehicles(rents, vehicles);
		var availableCars = availableVehicles.filter(vehicle => vehicle.type.toLowerCase() == "automobile");
		$("#availableCars").text(availableCars.length + " disponibili");
		$("#unavailableCars").text(carsNumber - availableCars.length + " occupate");


		var iterator = availableCars;
		if (availableCars.length > 5) {
			iterator = availableCars.splice(5);
		}

		iterator.forEach(car => {
			var carList = $(`
				<article class="leaderboard__profile my-2">
					<p class="vehicleDescription position-relative fw-bold m-0">
						<img src="${car.imageUrl}" alt="" class="leaderboard__picture">
					</p>
					<span class="leaderboard__name">
						${car.description}
					</span>
					<span class="leaderboard__value">
						<div class="text-end">
							${car.currentLocation}
						</div>
					</span>
				</article>
			`);

			$("#carList").append(carList);
		});

		var scootersNumber = vehicles.filter(vehicle => vehicle.type.toLowerCase() == "monopattino").length;
		var availableVehicles = getAvailableVehicles(rents, vehicles);
		var availableScooters = availableVehicles.filter(vehicle => vehicle.type.toLowerCase() == "monopattino");
		$("#availableScooters").text(availableScooters.length + " disponibili");
		$("#unavailableScooters").text(scootersNumber - availableScooters.length + " occupati");


		iterator = availableScooters;
		if (availableScooters.length > 5) {
			iterator = availableScooters.splice(5);
		}

		iterator.forEach(scooter => {
			var scooterList = $(`
				<article class="leaderboard__profile my-2">
					<p class="vehicleDescription fw-bold m-0">
						<img src="${scooter.imageUrl}" alt="" class="leaderboard__picture">
					</p>
					<span class="leaderboard__name">
						${scooter.description}
					</span>
					<span class="leaderboard__value">
						<div class="text-end">
							${scooter.currentLocation}
						</div>
					</span>
				</article>
			`);

			$("#scooterList").append(scooterList);
		});

		var bikesNumber = vehicles.filter(vehicle => vehicle.type.toLowerCase() == "bicicletta").length;
		var availableVehicles = getAvailableVehicles(rents, vehicles);
		var availableBikes = availableVehicles.filter(vehicle => vehicle.type.toLowerCase() == "bicicletta");
		$("#availableBikes").text(availableBikes.length + " disponibili");
		$("#unavailableBikes").text(bikesNumber - availableBikes.length + " occupate");


		iterator = availableBikes;
		if (availableBikes.length > 5) {
			iterator = availableBikes.splice(5);
		}

		iterator.forEach(bike => {
			var bikeList = $(`
				<article class="leaderboard__profile my-2">
					<p class="vehicleDescription fw-bold m-0">
						<img src="${bike.imageUrl}" alt="" class="leaderboard__picture">
					</p>
					<span class="leaderboard__name">
						${bike.description}
					</span>
					<span class="leaderboard__value">
						<div class="text-end">
							${bike.currentLocation}
						</div>
					</span>
				</article>
			`);

			$("#bikeList").append(bikeList);
		});
	</script>
</body>

</html>