<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Greenshare - Home</title>

	<link th:replace="fragments/links">

	<link rel="stylesheet" href="css/homepage.css" />
</head>

<body class="body-background">
	<div th:replace="fragments/navbar"></div>

	<!-- Shape Divider -->
	<div class="custom-shape-divider-top-1641057743">
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
			<path
				d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
				opacity=".25" class="shape-fill"></path>
			<path
				d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
				opacity=".5" class="shape-fill"></path>
			<path
				d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
				class="shape-fill"></path>
		</svg>
	</div>
	<!-- Fine Shape Divider -->

	<!-- Hero -->
	<section class="hero d-flex justify-content-evenly align-items-center pt-5">
		<div class="hero-text text-end w-100 px-3">
			<p class="motto">Consume<br>Less</p>
		</div>
		<div class="hero-text text-start w-100 px-3">
			<p class="motto">Share<br>More</p>
		</div>
	</section>
	<!-- Fine Hero -->

	<!-- Card -->
	<section class="row text-center bg-light m-0" id="statsSection">
		<h1 class="mt-3">Statistiche veicoli</h1>
		<div class="col-lg-6 p-md-5 d-flex align-items-center">
			<div class="container border-bottom border-top">
				<div class="row text-center">
					<div class="col-4">
						<div class="bg-image hover-zoom p-xxl-4 chartImage border border-2 border-success rounded-5" data-mdb-ripple-color="light">
							<img src="immagini/Tesla_Model_S.png" class="w-100" alt=""/>
							<a href="#!">
								<div class="hover-overlay">
									<div class="mask">
										<div class="d-flex justify-content-center align-items-center h-100">
											<p class="text-white fw-bold rounded-5 mb-0 px-1" style="background-color: rgba(0, 0, 0, 0.9)">Tesla Model S</p>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-4">
						<div class="bg-image hover-zoom p-xxl-4 chartImage" data-mdb-ripple-color="light">
							<img src="immagini/bmw-i3.png" class="w-100" alt=""/>
							<a href="#!">
								<div class="hover-overlay">
									<div class="mask">
										<div class="d-flex justify-content-center align-items-center h-100">
											<p class="text-white fw-bold rounded-5 mb-0 px-1" style="background-color: rgba(0, 0, 0, 0.9)">BMW i3</p>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-4">
						<div class="bg-image hover-zoom p-xxl-4 chartImage" data-mdb-ripple-color="light">
							<img src="immagini/FIAT_500.png" class="w-100" alt=""/>
							<a href="#!">
								<div class="hover-overlay">
									<div class="mask">
										<div class="d-flex justify-content-center align-items-center h-100">
											<p class="text-white fw-bold rounded-5 mb-0 px-1" style="background-color: rgba(0, 0, 0, 0.9)">Fiat 500-e</p>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>

				<div class="row text-center">
					<div class="col-4 mt-auto">
						<div class="bg-image hover-zoom p-xxl-4 chartImage" data-mdb-ripple-color="light">
							<img src="immagini/bicicletta.png" class="w-100" alt=""/>
							<a href="#!">
								<div class="hover-overlay">
									<div class="mask">
										<div class="d-flex justify-content-center align-items-center h-100">
											<p class="text-white fw-bold rounded-5 mb-0 px-1" style="background-color: rgba(0, 0, 0, 0.9)">Ghost Kato</p>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-4">
						<div class="bg-image hover-zoom p-xxl-4 chartImage" data-mdb-ripple-color="light">
							<img src="immagini/monopattino.png" class="w-100" alt=""/>
							<a href="#!">
								<div class="hover-overlay">
									<div class="mask">
										<div class="d-flex justify-content-center align-items-center h-100">
											<p class="text-white fw-bold rounded-5 mb-0 px-1" style="background-color: rgba(0, 0, 0, 0.9)">Mi Electric Scooter</p>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-4 mt-auto">
						<div class="bg-image hover-zoom p-xxl-4 chartImage" data-mdb-ripple-color="light">
							<img src="immagini/bmw-i3.png" class="w-100" alt=""/>
							<a href="#!">
								<div class="hover-overlay">
									<div class="mask">
										<div class="d-flex justify-content-center align-items-center h-100">
											<p class="text-white fw-bold rounded-5 mb-0 px-1" style="background-color: rgba(0, 0, 0, 0.9)">BMW i3</p>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-6 p-5">
			<div class="chartDiv">
				<canvas id="myChart"></canvas>
			</div>
		</div>
	</section>
	<!-- Fine Card -->

	<!-- Tabella -->
	<div class="text-center mb-4">
		<span class="text-light" id="titParagrafo">Listino veicoli</span>

		<div class="d-flex justify-content-evenly flex-wrap">
			<div class="py-4 py-lg-0">
				<article class="leaderboard">
					<main class="leaderboard__profiles">
						<p class="fw-bold h4">Automobili</p>
						<div class="d-flex justify-content-center">
							<div class="px-2">
								<span class="dot"></span>
								<span>123 disponibili</span>
							</div>
							<div class="px-2">
								<span class="dot bg-danger"></span>
								<span>34 occupate</span>
							</div>
						</div>
						<article class="leaderboard__profile">
							<p class="vehicleDescription fw-bold m-0">
								<img src="/immagini/toyota_yaris.png" alt="" class="leaderboard__picture">
							</p>
							<span class="leaderboard__name">
								BMW i3
								<i class="fas fa-hand-paper"></i>
							</span>
							<span class="leaderboard__value">
								<div class="row">Via Garibaldi 13</div>
								<span>
									<div class="row">Torino</div>
								</span>
							</span>
						</article>
						<article class="leaderboard__profile">
							<p class="vehicleDescription fw-bold m-0">
								<img src="/immagini/toyota_yaris.png" alt="" class="leaderboard__picture">
							</p>
							<span class="leaderboard__name">
								BMW i3
								<i class="fas fa-thumbs-up"></i>
							</span>
							<span class="leaderboard__value">
								<div class="row">Via Garibaldi 13</div>
								<span>
									<div class="row">Torino</div>
								</span>
							</span>
						</article>
						<article class="leaderboard__profile">
							<p class="vehicleDescription fw-bold m-0">
								<img src="/immagini/toyota_yaris.png" alt="" class="leaderboard__picture">
							</p>
							<span class="leaderboard__name">
								<span class="dot"></span>
								BMW i3
							</span>
							<span class="leaderboard__value">
								<div class="row">Via Garibaldi 13</div>
								<span>
									<div class="row">Torino</div>
								</span>
							</span>
						</article>
						<article class="leaderboard__profile">
							<p class="vehicleDescription fw-bold m-0">
								<img src="/immagini/toyota_yaris.png" alt="" class="leaderboard__picture">
							</p>
							<span class="leaderboard__name">
								<span class="dot"></span>
								BMW i3
							</span>
							<span class="leaderboard__value">
								<div class="row">Via Garibaldi 13</div>
								<span>
									<div class="row">Torino</div>
								</span>
							</span>
						</article>
						<article class="leaderboard__profile">
							<p class="vehicleDescription fw-bold m-0">
								<img src="/immagini/toyota_yaris.png" alt="" class="leaderboard__picture">
							</p>
							<span class="leaderboard__name">
								<span class="dot bg-danger"></span>
								BMW i3
							</span>
							<span class="leaderboard__value">
								<div class="row">Via Garibaldi 13</div>
								<span>
									<div class="row">Torino</div>
								</span>
							</span>
						</article>
						<article class="leaderboard__profile d-flex">
							<span class="leaderboard__name"><a href="#">Mostra altro...</a></span>
						</article>
					</main>
				</article>
			</div>
			<div class="py-4 py-lg-0">
				<article class="leaderboard">
					<main class="leaderboard__profiles">
						<p class="fw-bold h4">Biciclette</p>
						<div class="d-flex justify-content-center">
							<div class="px-2">
								<span class="dot"></span>
								<span>123 disponibili</span>
							</div>
							<div class="px-2">
								<span class="dot bg-danger"></span>
								<span>34 occupate</span>
							</div>
						</div>
						<article class="leaderboard__profile">
							<p class="vehicleDescription fw-bold m-0">
								<img src="/immagini/toyota_yaris.png" alt="" class="leaderboard__picture">
							</p>
							<span class="leaderboard__name">BMW i3</span>
							<span class="leaderboard__value">
								<div class="row">Via Garibaldi 13</div>
								<span>
									<div class="row">Torino</div>
								</span>
							</span>
						</article>
						<article class="leaderboard__profile">
							<p class="vehicleDescription fw-bold m-0">
								<img src="/immagini/toyota_yaris.png" alt="" class="leaderboard__picture">
							</p>
							<span class="leaderboard__name">BMW i3</span>
							<span class="leaderboard__value">
								<div class="row">Via Garibaldi 13</div>
								<span>
									<div class="row">Torino</div>
								</span>
							</span>
						</article>
						<article class="leaderboard__profile">
							<p class="vehicleDescription fw-bold m-0">
								<img src="/immagini/toyota_yaris.png" alt="" class="leaderboard__picture">
							</p>
							<span class="leaderboard__name">BMW i3</span>
							<span class="leaderboard__value">
								<div class="row">Via Garibaldi 13</div>
								<span>
									<div class="row">Torino</div>
								</span>
							</span>
						</article>
						<article class="leaderboard__profile">
							<p class="vehicleDescription fw-bold m-0">
								<img src="/immagini/toyota_yaris.png" alt="" class="leaderboard__picture">
							</p>
							<span class="leaderboard__name">BMW i3</span>
							<span class="leaderboard__value">
								<div class="row">Via Garibaldi 13</div>
								<span>
									<div class="row">Torino</div>
								</span>
							</span>
						</article>
						<article class="leaderboard__profile">
							<p class="vehicleDescription fw-bold m-0">
								<img src="/immagini/toyota_yaris.png" alt="" class="leaderboard__picture">
							</p>
							<span class="leaderboard__name">BMW i3</span>
							<span class="leaderboard__value">
								<div class="row">Via Garibaldi 13</div>
								<span>
									<div class="row">Torino</div>
								</span>
							</span>
						</article>
						<article class="leaderboard__profile d-flex">
							<span class="leaderboard__name"><a href="#">Mostra altro...</a></span>
						</article>
					</main>
				</article>
			</div>
			<div class="py-4 py-lg-0">
				<article class="leaderboard">
					<main class="leaderboard__profiles">
						<span class="fw-bold h4">Monopattini</span>
						<div class="d-flex justify-content-center">
							<div class="px-2">
								<span class="dot"></span>
								<span>123 disponibili</span>
							</div>
							<div class="px-2">
								<span class="dot bg-danger"></span>
								<span>34 occupate</span>
							</div>
						</div>
						<article class="leaderboard__profile">
							<p class="vehicleDescription fw-bold m-0">
								<img src="/immagini/toyota_yaris.png" alt="" class="leaderboard__picture">
							</p>
							<span class="leaderboard__name">BMW i3</span>
							<span class="leaderboard__value">
								<div class="row">Via Garibaldi 13</div>
								<span>
									<div class="row">Torino</div>
								</span>
							</span>
						</article>
						<article class="leaderboard__profile">
							<p class="vehicleDescription fw-bold m-0">
								<img src="/immagini/toyota_yaris.png" alt="" class="leaderboard__picture">
							</p>
							<span class="leaderboard__name">BMW i3</span>
							<span class="leaderboard__value">
								<div class="row">Via Garibaldi 13</div>
								<span>
									<div class="row">Torino</div>
								</span>
							</span>
						</article>
						<article class="leaderboard__profile">
							<p class="vehicleDescription fw-bold m-0">
								<img src="/immagini/toyota_yaris.png" alt="" class="leaderboard__picture">
							</p>
							<span class="leaderboard__name">BMW i3</span>
							<span class="leaderboard__value">
								<div class="row">Via Garibaldi 13</div>
								<span>
									<div class="row">Torino</div>
								</span>
							</span>
						</article>
						<article class="leaderboard__profile">
							<p class="vehicleDescription fw-bold m-0">
								<img src="/immagini/toyota_yaris.png" alt="" class="leaderboard__picture">
							</p>
							<span class="leaderboard__name">BMW i3</span>
							<span class="leaderboard__value">
								<div class="row">Via Garibaldi 13</div>
								<span>
									<div class="row">Torino</div>
								</span>
							</span>
						</article>
						<article class="leaderboard__profile">
							<p class="vehicleDescription fw-bold m-0">
								<img src="/immagini/toyota_yaris.png" alt="" class="leaderboard__picture">
							</p>
							<span class="leaderboard__name">BMW i3</span>
							<span class="leaderboard__value">
								<div class="row">Via Garibaldi 13</div>
								<span>
									<div class="row">Torino</div>
								</span>
							</span>
						</article>
						<article class="leaderboard__profile d-flex">
							<span class="leaderboard__name"><a href="#">Mostra altro...</a></span>
						</article>
					</main>
				</article>
			</div>
		</div>
	</div>
	<!-- Fine Tabella -->

	<!-- Descrizione Uso -->
	<div class="bg-light container-fluid py-4" id="contDesc">
		<div class="text-center">
			<h1><b>CAR SHARING MADE EASY</b></h1>
		</div>

		<div class="d-flex justify-content-evenly text-center mb-3">
			<div class="text-success">
				<i class="far fa-user fa-8x mb-2 py-4"></i>
				<div class="text-light">
					<p class="h5">Crea subito<br>il tuo account</p>
				</div>
			</div>
			<div class="text-success">
				<i class="fas fa-search-location fa-8x mb-2 py-4"></i>
				<div class="text-light">
					<p class="h5">Scegli il mezzo<br>più vicino a te</p>
				</div>
			</div>
			<div class="text-success">
				<i class="far fa-check-circle fa-8x mb-2 py-4"></i>
				<div class="text-light">
					<p class="h5">Prenota<br>e parti subito!</p>
				</div>
			</div>
		</div>

		<div class="row text-center">
			<div class="ctn my-3">
				<a class="btn btn-lg btn-success" href="register">Crea un account</a>
			</div>
		</div>
	</div>
	<!-- Fine Descrizione Uso -->

	<footer th:replace="fragments/footer"></footer>

	<!-- Imported scripts -->
	<div th:replace="fragments/scripts"></div>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"
		integrity="sha256-D2tkh/3EROq+XuDEmgxOLW1oNxf0rLNlOwsPIUX+co4=" crossorigin="anonymous"></script>
	<script src="js/plugin.filler.js"></script>

	<!-- Custom scripts -->
	<script src="js/homepage.js"></script>
</body>

</html>