<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


<link th:replace="/fragments/head.html">

</head>
<body>
	<div class="container">
		
		<h2 class="mb-4">Login</h2>
		<div class="mb-4">
			<form action="/login" method="post">
			    
				<!-- messaggio errore -->
				<div th:if="${message}" class="mb-3">
					<span class="alert-danger">Email o password errati.</span>
				</div>
			    
			    <div>
					<label for="username" class="form-label">Email: </label> 
					<input type="text" name="username" class="mb-1 form-control">
			    </div>
			    
			    <div>
					<label for="password" class="form-label">Password: </label> 
					<input type="password" name="password" class="mb-1 form-control">
			    </div>

				<input type="submit" value="Invia" class="btn btn-primary"/>
			</form>
		</div>
	</div>
</body>
</html>