<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greenshare - Mappa</title>

    <link th:replace="fragments/links">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <link rel="stylesheet" href="css/map.css" />
</head>

<body>
    <div class="vh-100">
        <div th:replace="fragments/navbar"></div>

        <main class="position-relative">
            <div id="map"></div>
            <div class="position-absolute left-0 top-0 bg-light shadow-3-strong p-2" id="sidebar">
                <div class="my-2 text-center">
                    <div class="mb-2">
                        <input type="search" class="rounded w-75 p-1 me-2" id="search" placeholder="Cerca">
                    </div>
                    <div class="p-1">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" checked="checked" id="checkAutomobile" />
                            <label class="form-check-label" for="checkAutomobile">
                                <i class="fas fa-car"></i>
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" checked="checked" id="checkMonopattino" />
                            <label class="form-check-label" for="checkMonopattino">
                                <img src="immagini/kick_scooter.png" alt="" style="width: 1rem;">
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" checked="checked" id="checkBicicletta" />
                            <label class="form-check-label" for="checkBicicletta">
                                <i class="fas fa-bicycle"></i>
                            </label>
                        </div>
                    </div>
                    <div>
                        <button type="reset" id="btnReset" class="btn btn-sm btn-warning">
                            Reset
                        </button>
                        <button class="btn btn-sm btn-success shadow-0" id="btnSearch">
                            Applica filtri
                        </button>
                    </div>
                </div>
                <ul class="list-unstyled" id="vehicleList">
                </ul>
            </div>
        </main>
    </div>

    <footer th:replace="fragments/footer"></footer>

    <!-- Imported scripts -->
    <div th:replace="fragments/scripts"></div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"
        integrity="sha256-D2tkh/3EROq+XuDEmgxOLW1oNxf0rLNlOwsPIUX+co4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="js/bouncingMarkers.js"></script>
    <script src="js/jquery.scrollintoview.min.js"></script>



    <!-- Custom scripts -->
    <script th:inline="javascript">
        'use strict'

        function clickMarker(markers, id) {
            markers[id].on("click", function () {
                $("#vehicle-" + id).scrollintoview();
                $("#vehicle-" + id).click();
            });
        }

        function getOngoingRents(rentList) {
            return rentList.filter(rent => rent.endTime == null);
        }

        function getOngoingRentsByUser(rentList, userId) {
            return getOngoingRents(rentList).filter(rent => rent.user.id == userId);
        }

        function getAvailableVehicles(rentList, vehicleList) {
            var ongoingRents = getOngoingRents(rentList);
            return vehicleList.filter(function (vehicle) {
                return !ongoingRents.find(function (rent) {
                    return vehicle.id == rent.vehicle.id;
                });
            });
        }

        function getUserVehicles(rentList, userId) {
            var userOngoingRentList = getOngoingRentsByUser(rentList, userId);
            var userVehicleList = [];
            for (const key in userOngoingRentList) {
                if (userOngoingRentList[key].user.id == userId) {
                    userVehicleList.push(userOngoingRentList[key].vehicle);
                }
            }
            return userVehicleList;
        }

        /*<![CDATA[*/
        var vehicles = /*[[${vehicles}]]*/'';
        var rents = /*[[${rents}]]*/'';
        var loggedUser = /*[[${loggedUser}]]*/'';
        /*]]>*/

        var availableVehicles = getAvailableVehicles(rents, vehicles);
        var userVehicles = getUserVehicles(rents, loggedUser.id);
        var userOngoingRents = getOngoingRentsByUser(rents, loggedUser.id);

        var latLng = searchCoordinates("centro di torino").split(";");
        var coordinates = L.latLng(latLng[0], latLng[1]);
        var markers = {};

        var map = L.map('map').setView(coordinates, 13);

        var MarkerIcon = L.Icon.extend({
            options: {
                iconSize: [25, 39],
                iconAnchor: [12.5, 39],
                popupAnchor: [0, -39]
            }
        });

        var grayMarker = new MarkerIcon({
            iconUrl: 'immagini/gray_marker.png',
        });

        var greenMarker = new MarkerIcon({
            iconUrl: 'immagini/green_marker.png',
        });

        function generateVehicleLI(vehicleList, userOngoingRentList) {
            $("#vehicleList").html("");
            if (!$.isEmptyObject(markers)) {
                for (const key in markers) {
                    map.removeLayer(markers[key])
                }
            }

            if (!$.isEmptyObject(userOngoingRentList)) {
                $("#vehicleList").append(`
                    <div class="d-flex justify-content-center">
                        <p class="line-text">
                            <span>Veicoli prenotati</span>
                        </p>
                    </div>
                `);

                userOngoingRentList.forEach(userOngoingRent => {
                    var userVehicleLI = $(`
                        <li class="vehicleLI d-flex justify-content-between align-items-center rounded p-3 mb-2" id="vehicle-${userOngoingRent.vehicle.id}">
                            <div>
                                <p class="vehicleDescription fw-bold m-0"><img src="${userOngoingRent.vehicle.imageUrl}" alt="">${userOngoingRent.vehicle.description}</p>
                            </div>
                            <div>
                                <button class="btnEndRent btn btn-sm btn-danger">Termina</button>
                            </div>
                        </li>
                    `);

                    $(userVehicleLI).find(".btnEndRent").on("click", function () {
                        var rent = {
                            id: userOngoingRent.id,
                            user: userOngoingRent.user,
                            vehicle: userOngoingRent.vehicle,
                            startTime: userOngoingRent.startTime,
                            endTime: dayjs().format()
                        }

                        $.ajax({
                            url: "api/rents/update",
                            type: "PUT",
                            contentType: "application/json",
                            data: JSON.stringify(rent),
                            success: function () {
                                location.href = "map";
                            }
                        });
                    });

                    $("#vehicleList").append(userVehicleLI);
                });
            }

            $("#vehicleList").append(`
                <div class="d-flex justify-content-center">
                    <p class="line-text">
                        <span>Veicoli disponibili</span>
                    </p>
                </div>
            `);

            if (!$.isEmptyObject(vehicleList)) {

                vehicleList.forEach(vehicle => {
                    var vehicleLI = $(`
                        <li class="vehicleLI d-flex justify-content-between align-items-center rounded p-3 mb-2" id="vehicle-${vehicle.id}">
                            <div>
                                <p class="vehicleDescription fw-bold m-0"><img src="${vehicle.imageUrl}" alt="">${vehicle.description}</p>
                                <p class="m-0">${vehicle.currentLocation}</p>
                            </div>
                            <div>
                                <button class="btnRent btn btn-sm btn-success">Prenota</button>
                            </div>
                        </li>
                    `);

                    markers[vehicle.id] = L.marker(vehicle.coordinates.split(";"), { icon: grayMarker }).addTo(map);
                    clickMarker(markers, vehicle.id);

                    $(vehicleLI).on("click", function (e) {
                        map.flyTo(vehicle.coordinates.split(";"), 14);
                        $(".vehicleLI.active").removeClass("active");
                        $(".btnRent").fadeOut(100);
                        $(vehicleLI).addClass("active");
                        $(vehicleLI).find(".btnRent").fadeIn(500);

                        for (const key in markers) {
                            var coordinates = markers[key]._latlng;
                            map.removeLayer(markers[key]);
                            markers[key] = L.marker(coordinates, { icon: grayMarker }).addTo(map);
                            clickMarker(markers, key);
                        }
                        map.removeLayer(markers[vehicle.id]);
                        markers[vehicle.id] = L.marker(vehicle.coordinates.split(";"), { icon: greenMarker }).addTo(map);
                        clickMarker(markers, vehicle.id);
                    });

                    var timeoutId;
                    $(vehicleLI).hover(function () {
                        if (!timeoutId) {
                            timeoutId = window.setTimeout(function () {
                                timeoutId = null;
                                markers[vehicle.id].bounce();
                            }, 100);
                        }
                    },
                        function () {
                            if (timeoutId) {
                                window.clearTimeout(timeoutId);
                                timeoutId = null;
                            }
                            else {
                                markers[vehicle.id].stopBouncing();
                            }
                        });

                    $(vehicleLI).find(".btnRent").on("click", function () {
                        var rent = {
                            id: null,
                            user: loggedUser,
                            vehicle: vehicle,
                            startTime: dayjs().format(),
                            endTime: null
                        }

                        $.ajax({
                            url: "api/rents/add",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(rent),
                            success: function () {
                                location.href = "map";
                            }
                        });
                    });

                    $("#vehicleList").append(vehicleLI);
                });
            } else {
                $("#vehicleList").append(`
                    <div class="text-center">
                        <p class="text-muted font-italic">Nessun veicolo disponibile</p>
                    </div>
                `);
            }

            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'pk.eyJ1IjoicmVseWNlNCIsImEiOiJja3h0M2E4ejYyZm41Mm9rb245bTg4cTBwIn0.2Tm-WPxGl7aDaKCiQk088A'
            }).addTo(map);
        }

        generateVehicleLI(availableVehicles, userOngoingRents);

        const getVehiclesByText = (vehicleList, searchText) => {
            return vehicleList.filter(vehicle =>
                vehicle.description.toLowerCase().includes(searchText.toLowerCase()) ||
                vehicle.currentLocation.toLowerCase().includes(searchText.toLowerCase()));
        };

        const getVehiclesByType = (vehicleList, includeAutomobile, includeMonopattino, includeBicicletta) => {
            var result = [];
            if (includeAutomobile) {
                var filteredList = vehicleList.filter(vehicle => vehicle.type.toLowerCase().includes("automobile"));
                if (!$.isEmptyObject(filteredList)) {
                    result.push(...filteredList);
                }
            }
            if (includeMonopattino) {
                var filteredList = vehicleList.filter(vehicle => vehicle.type.toLowerCase().includes("monopattino"));
                if (!$.isEmptyObject(filteredList)) {
                    result.push(...filteredList);
                }
            }
            if (includeBicicletta) {
                var filteredList = vehicleList.filter(vehicle => vehicle.type.toLowerCase().includes("bicicletta"));
                if (!$.isEmptyObject(filteredList)) {
                    result.push(filteredList);
                }
            }

            return result;
        }

        $("#btnSearch").on("click", function () {
            var searchText = $("#search").val();
            if (searchText.trim() != "") {
                var vehicleList = getVehiclesByText(availableVehicles, searchText);
                vehicleList = getVehiclesByType(vehicleList, $("#checkAutomobile").is(":checked"), $("#checkMonopattino").is(":checked"), $("#checkBicicletta").is(":checked"));
                generateVehicleLI(vehicleList, userOngoingRents);
            }
        });

        $("#search").keypress(function (e) {
            if (e.which == 13) {
                $("#btnSearch").click();
            }
        });

        $("#btnReset").on("click", function () {
            $("input").val("");
            $("input[type='checkbox']").prop("checked", "check");

            generateVehicleLI(availableVehicles, userOngoingRents);
        });
    </script>
</body>