<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greenshare - Rents</title>

    <link th:replace="fragments/links">

    <link rel="stylesheet" href="/css/rents.css" />
</head>

<body class="body-background">

    <div class="min-vh-100">
        <div th:replace="fragments/navbar"></div>
        <main class="py-3">

            <div class="text-center">
                <h3 class="text-light mb-4">I miei ordini</h3>
            </div>

            <!-- Card -->
            <div class="container" id="ordersContainer">
            </div>
            <!-- Fine Card -->
        </main>
    </div>

    <footer th:replace="fragments/footer"></footer>
    <div th:replace="fragments/scripts"></div>

    <!-- Custom scripts -->
    <script th:inline="javascript">
        'use strict'

        /*<![CDATA[*/
        var vehicles = /*[[${vehicles}]]*/'';
        var rents = /*[[${rents}]]*/'';
        var loggedUser = /*[[${loggedUser}]]*/'';
        /*]]>*/

        var userRents = getRentsByUser(rents, loggedUser.id).reverse();
        var userOngoingRents = getOngoingRentsByUser(rents, loggedUser.id).reverse();
        if (!$.isEmptyObject(userOngoingRents)) {
            var userCompletedRents = userRents
                .filter(x => !userOngoingRents.includes(x))
                .concat(userOngoingRents.filter(x => !userRents.includes(x)));
        } else {
            var userCompletedRents = userRents;
        }


        // STAMPA ORDINI IN CORSO
        var row;
        var i = 1;
        if ($.isEmptyObject(userRents)) {
            $("#ordersContainer").append(`
                <div class="container bg-light rounded text-center p-3">
                    <p class="mb-0">Nessun ordine</p>
                </div>
            `);
        } else {
            userOngoingRents.forEach(rent => {
                console.log(rent);
                if (i == 1) {
                    row = $("<div class='row'></div>");
                }
                var orderEl = $(`
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100 mx-auto">
                            <div class="card-header">
                                ID Ordine <span class="cardData"><b>#${rent.id}</b></span>
                            </div>
                            <div class="text-center position-relative">
                                    <div class="ringring"></div>
                                    <div class="circle"></div>
                                <img src="${rent.vehicle.imageUrl}" class="card-img-top pt-2" alt="" />
                            </div>
                            <div class="card-body py-2">
                                <div class="card-text">
                                    <ul class="list-unstyled">
                                        <li><b>Tipo Veicolo</b><span class="cardData">${rent.vehicle.type}</span></li>
                                        <li><b>Modello</b> <span class="cardData">${rent.vehicle.description}</span></li>
                                        <li><b>Prezzo Attuale</b> <span class="cardData"> ${(rent.vehicle.pricePerMinute * dayjs().diff(dayjs(rent.startTime), 'minute')).toFixed(2)}€</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Inizio Servizio </small><small class="float-end">${dayjs(rent.startTime).format("DD/MM/YYYY HH:mm")}</small><br>
                                <small class="text-muted">Fine Servizio </small><small class="float-end"><button class="btnEndRent btn btn-sm btn-danger shadow-0">Concludi</button></small>
                            </div>
                        </div>
                    </div>
                `);

                $(orderEl).find(".btnEndRent").on("click", function () {
                        var dataRent = {
                            id: rent.id,
                            user: rent.user,
                            vehicle: rent.vehicle,
                            startTime: rent.startTime,
                            endTime: dayjs().format()
                        }

                        $.ajax({
                            url: "api/rents/update",
                            type: "PUT",
                            contentType: "application/json",
                            data: JSON.stringify(dataRent),
                            success: function () {
                                location.href = "rents";
                            }
                        });
                    });

                $(row).append(orderEl);

                if (i == 3) {
                    $("#ordersContainer").append(row);
                    row = null;
                    i = 1;
                } else {
                    i++;
                }
            });

            $("#ordersContainer").append(row);

            // STAMPA ORDINI CONCLUSI
            userCompletedRents.forEach(rent => {
                var price = rent.vehicle.pricePerMinute * dayjs(rent.endTime).diff(dayjs(rent.startTime), 'minute');
                
                if (i == 1) {
                    row = $("<div class='row'></div>");
                }
                var orderEl = $(`
                    <div class="col-lg-4 mb-4">
                        <div class="card h-100 mx-auto">
                            <div class="card-header">
                                ID Ordine <span class="cardData"><b>#${rent.id}</b></span>
                            </div>
                            <div class="text-center position-relative">
                                <img src="${rent.vehicle.imageUrl}" class="card-img-top pt-2" alt="" />
                            </div>
                            <div class="card-body py-2">
                                <div class="card-text">
                                    <ul class="list-unstyled">
                                        <li><b>Tipo Veicolo</b><span class="cardData">${rent.vehicle.type}</span></li>
                                        <li><b>Modello</b> <span class="cardData">${rent.vehicle.description}</span></li>
                                        <li><b>Prezzo Totale</b> <span class="cardData">${price}€</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Inizio Servizio </small><small class="float-end">${dayjs(rent.startTime).format("DD/MM/YYYY HH:mm")}</small><br>
                                <small class="text-muted">Fine Servizio </small><small class="float-end">${dayjs(rent.endTime).format("DD/MM/YYYY HH:mm")}</small>
                            </div>
                        </div>
                    </div>
                `);
                $(row).append(orderEl);

                if (i == 3) {
                    $("#ordersContainer").append(row);
                    row = null;
                    i = 1;
                } else {
                    i++;
                }
            });

            $("#ordersContainer").append(row);
        }
    </script>
</body>

</html>